[user]
	name = Austin White
	email = austinlldb@gmail.com
[submodule]
	recurse = true
[credential]
	helper = store
[alias]
    cl = clone --recurse
	co = checkout
	fo = fetch origin
    pl = pull
	ci = commit
	br = branch
    ps = push
	st = status -s
	lg = log --pretty=oneline -n 20 --graph --abbrev-commit
	aliases = config --get-regexp alias
	amend = commit --amend --reuse-message=HEAD
	unstage = reset HEAD --
[core]
    editor = nvim
	pager = less -F -X
