[include]
  path = ~/.gitconfig.local

[core]
	excludesfile = ~/.gitignore
	editor = nvim
    
[alias]
    d = diff
    cm = commit
    co = checkout
    st = status
    br = branch
    ba = branch -a
