[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = https://github.com/austinwhite/nvim-config.git
[submodule "zsh/.config/zsh"]
	path = zsh/.config/zsh
	url = https://github.com/austinwhite/zsh-config.git
