[include]
    path = ~/.gitconfig-personal

[includeIf "gitdir:~/**/Projects/Futo/**"]
    path = ~/.gitconfig-futo
[includeIf "gitdir:~/**/Projects/Modern/**"]
    path = ~/.gitconfig-modern
[includeIf "gitdir:~/**/Projects/Nomadik/**"]
    path = ~/.gitconfig-nomadik

[alias]
    cl = clone --recurse
    co = checkout
    fo = fetch origin
    pl = pull
    ci = commit
    br = branch
    ps = push
    st = status -sb
    df = diff
    lg = log --pretty=oneline -n 20 --graph --abbrev-commit
