# create bin and add to path
if [ ! -d "$HOME/.local/bin" ]; then
  mkdir -p $HOME/.local/bin
fi

export PATH="$HOME/.local/bin:$PATH"

# create projects dir 
if [ ! -d "$HOME/Code" ]; then
  mkdir $HOME/Code
fi

# environment variables set everywhere
export EDITOR="nvim"
export TERMINAL="alacritty"
export BROWSER="brave"
export SHELL="/usr/bin/zsh"
export DOTFILES="$HOME/.dotfiles"

export JAVA_HOME="/usr/lib/jvm/java-18-openjdk"

export XDG_CONFIG_HOME=$HOME/.config
export XDG_CACHE_HOME=$HOME/.cache
export XDG_DATA_HOME=$HOME/.local/share
export XDG_RUNTIME_DIR=$HOME/.xdg

# set desktop wallpaper
~/.fehbg &

# audio
/usr/bin/pipewire &
/usr/bin/pipewire-pulse &
/usr/bin/pipewire-media-session &

# hot key daemon
sxhkd &

# compositor
picom &
