# TODO: This doesn't work as expected. without stowing $DOTFILES/env first,
# I cant use whats in here (STOWDIRS, DOTFILES). after I do that manually I 
# can't stow everything else without removing ~/.local/bin or it causes conflicts w/ stow

# create bin and add to path
if [ ! -d "$HOME/.local/bin" ]; then
  mkdir -p $HOME/.local/bin
fi

export PATH="$HOME/.local/bin:$PATH"

# create projects dir 
if [ ! -d "$HOME/Code" ]; then
  mkdir $HOME/Code
fi

# environment variables set everywhere
export EDITOR="nvim"
export TERMINAL="alacritty"
export BROWSER="brave"
export SHELL="/usr/bin/zsh"
export DOTFILES="$HOME/.dotfiles"
export STOWDIRS="alacritty nvim zsh git x scripts polybar i3 sxhkd rofi picom"

# XDG Paths
export XDG_CONFIG_HOME=$HOME/.config
export XDG_CACHE_HOME=$HOME/.cache
export XDG_DATA_HOME=$HOME/.local/share
export XDG_RUNTIME_DIR=$HOME/.xdg

# global java home
export JAVA_HOME="/usr/lib/jvm/java-18-openjdk"

# set desktop wallpaper
~/.fehbg &

# audio
/usr/bin/pipewire &
/usr/bin/pipewire-pulse &
/usr/bin/pipewire-media-session &

# hot key daemon
sxhkd &

# compositor
picom &
